@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background: #f7f7f7;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin:0;
}

.container{
  margin: 30px auto;
  width: 350px;
}
.button{
  text-align: center;
}
.button-in{
  background-color: darkcyan;
  color: white;
}
.horizontal-menu{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  padding-left:65px;
  padding-right:65px;
  overflow: hidden;
}
.libtn{
  background-color: darkcyan;
  padding: 7px 10px;
  border-radius: 20px;
}
.horizontal-menu a{
  text-decoration: none;
  color:white
}